<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/static/css/style.css" />
    <title>Memory Game</title>
</head>
<body>
    <main>
        <div id="attempts-banner"></div>
        <section id="game-board"></section>
    </main>
    <div id="modal-overlay" style="display:none;">
        <div id="modal-message"></div>
    </div>
    <script src="/src/static/js/game.js"></script>
</body>
</html>