<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/static/css/style.css" />
    <title>MEMORY CARDS</title>
</head>

<body>
    <div class="header-box">
        <h1>MEMORY CARDS</h1>
    </div>
    <div class="welcome-box">
        <p>¡Bienvenido, jugador!<br>
            Elige la dificultad y pon a prueba tu memoria.<br>
            ¿Cuántas cartas podrás recordar?</p>
        </div>
    <div>
        <h3>Selecciona la cantidad de cartas con las que quieres jugar</h3>
    </div>
    <article>
        <section class="sectionWrapper">
            <section id="_boxes">
                <ul>
                    <li>
                        <figure>
                            <h2>JUEGA</h2>
                            <a href="game.html?cards=8" title="Read More" class="card-select">
                                <img src="/src/static/img/number-8.png" alt="number8" style="height: 240px;">   
                            </a>
                            <h2>CARTAS</h2>
 
                        </figure>

                        
                    </li>

                    <li>
                        <figure>
                            
                            <h2>JUEGA</h2>
                            <a href="game.html?cards=10" title="Read More" class="card-select">
                                <img src="/src/static/img/number-10.png" alt="number8" style="height: 240px;">   
                            </a>
                            <h2>CARTAS</h2>
                        </figure>

                        
                    </li>

                    <li>
                        <figure>
                            <h2>JUEGA</h2>
                            <a href="game.html?cards=12" title="Read More" class="card-select">
                                <img src="/src/static/img/number-12.png" alt="number8" style="height: 240px;">   
                            </a>
                            <h2>CARTAS</h2>
                        </figure>

                    </li>
                </ul>
            </section>
        </section>
    </article>
</body>

</html>